<script>
    $(document).ready(function(){
            $("#itemModal").modal('show');
        });
    </script>
    
    
    <form id = "modal">
    <%# Modal %>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="itemModal" role="dialog" >
        <div class="modal-dialog">
        
          <%# Modal content %>
          <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title" style="color:black" name="title" value="" id="header"><%= itemDetail.title %></h4>
              
            </div>
            <div class="modal-body">                          
              <img id="photoBig" src="data:image/<%=itemDetail.img.contentType%>;base64, <%=itemDetail.img.data.toString('base64')%>"> <hr>
              <label for="desc" style="color:black">Description</label>
              <div id="desc" style="color:black"><%= itemDetail.desc %></div>
            </div>
            <div id="modalInfo">
              <p style="color:black">Category: <%= itemDetail.catagory %></p>
              <p style="color:black">Seller: <%= itemDetail.user %></p>
              <p style="color:black">Price: £ <%= itemDetail.price %></p>
            </div>

          

            <div class="modal-footer">           
              <a href="/contact/detail/<%= itemDetail.id %>" class="btn btn-outline-primary btn-sm">Contact <%= itemDetail.user %> <i class="fas fa-paper-plane" style="color: blue"></i></a>            
             <button  type="button" class="btn btn-outline-danger btn-sm" id="submit" style="margin-left:58%">Close <i class="fas fa-times" style="color: red"></i></button>            
            </div>
          </div>
          
        </div>
      </div> <%# modal end %>
    
    
    </form>
    
    <script>
    $('#submit').click(function () {
        
        window.location.href = "/swapShop";
    });

  
    </script>