<h1><center>Messageboard</center></h1><br><hr>
<div class = "postDetail">           
<table class="table table-hover"> 
 
  <% 
  if (typeof posts != 'undefined' && posts.length > 0) { 
          var srNo = 0;
          posts.forEach( function ( post ){
                  srNo = srNo + 1;
                  %>
<tr>

<td><a href="/posts/detail/<%= post._id %>" id = 'tData'><%= srNo %> </a></td>
<td><a href="/posts/detail/<%= post._id %>" id = 'tData'><%= post.title %></a></td>
<td><a href="/posts/detail/<%= post._id %>" id = 'tData'>Posted: <%= post.createdAt.toDateString() %></a></td>

</tr>

<% });
}
else {  %>
<tr><td colspan="3"> No Data </td></tr>
<% } %>
</div>

<a href="/createPost" class="btn btn-info">Create New Post <i class="fas fa-bullhorn"></i></a><br><br>
</table>

