<div class="size">
    <h2><%= postDetail.title %></h2>
    <p id="postSize"><%= postDetail.content %>
      
    </p>
    <div id="created">
    <span style="color:#14b7eb">Created by  <%= postDetail.user %> on  <%- postDetail.createdAt.toDateString()%> </span></br>
</div>
</div>
<hr>

    
    <div class="comments">
            <% 
                        
            if (typeof comments != 'undefined' && comments != null) {
             
                    comments.forEach( function ( commentData ){
                            %>
                        <div id="coms"> <%= commentData.comment %>                          
                      
                              
                            <div id="poster">
                             <%= "Posted by "  + commentData.user  + " on: " + commentData.createdAt.toDateString()%>                                                 
                            </div>
                              
                        </div> 

                            <% });
                        }%>
                      
    </div>
    
   <hr>
    <div class="newComment">
       
    <textarea id="comment" rows="3" cols="54" placeholder="Add a new comment..."></textarea></br>
    <input type="hidden" id="postId" value="<%= postId %>">
    <input type="hidden" id="user" value="<%= user %>">
       
    <button type="submit" id='send' class="btn btn-success btn-md" style="margin-right:10px">Add Comment <i class="fas fa-comment"></i></button>
    <a href="/messageboard" class="btn btn-info">View All Posts <i class="fas fa-binoculars"></i></a>
    </div>
    

<script >
                           
    $(".comments").scrollTop($(".comments")[0].scrollHeight);
    const socket = io();

    $('#send').click(function(){

        const comment = $('#comment').val();
        const postId = $('#postId').val();
        const user = $('#user').val();
       
        if(comment != ''){

        var data = {'comment': comment,'postId': postId, 'user': user};
        $('.comments').append("<br><p id='coms'>"+comment+"</p>");
        $('#comment').val('');
        location.reload();
        } 
       
    socket.emit('comment', data);

    }); 

    socket.on('comment',function(data){
        var postId = "<%= postId %>";
        if(postId==data.postId){
            $('.comments').append("<p>"+data.comment+"</p>");
        }
        });
   
</script>