<h1>Post List</h1>

<div id="userInfo">
   
<table class="table table-striped">
   
    <% 
    if (typeof list != 'undefined' && list != null && list.length > 0) {
     
            list.forEach( function ( postData ){
                    %>

            <tr>
                <td id="tData"><%= postData.title %></td>
                <td id="tData"><%= postData.content %></td> 
                <td id="tData">
                    <div id ="editDelete">
                            <a href="/post/edit/<%=postData._id %>"><i class="fa fa-pencil-square-o fa-m" style="color:#14b7eb"
                                data-toggle="tooltip" data-placement="bottom" title="Edit Post"></i></a>
                                
                    
                            <a data-toggle="modal" data-target="#deleteModal"  data-id="<%=postData._id %>" id="itemId">
                            <i class="fa fa-trash fa-m" id="del" style="color:#f75063"                           
                             data-toggle="tooltip" data-placement="bottom" title="Delete Post"></i></a>
                             <%- console.log(postData._id + ' ' + 'one') %>
</div>
                        </td>          
                                        
            </tr>
              
<form id="modal">
<%# delete modal %>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                     
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color:black">Are you sure you want to delete?</h4>
                     </div>
            <div class="modal-body">
            <p style="color:black">This cannot be undone...</p>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel </button>
        <a href="/post/delete/<%=postData._id %>" class="btn btn-outline-primary btn-sm">Delete <i class="fas fa-paper-plane" style="color: blue"></i></a>
        <%- console.log(postData._id + ' ' + 'two') %>
      </div>
    </div>
  </div>
</div> <%# modal end %>
</form>
           
<% });
} else { %>
            <tr><td colspan="3"> No Data </td></tr>
<% } %>


</table>

</div>
<div id="accBtn">
  <a href="/account" class="btn btn-info" >Back <i class="fas fa-backward"></i></a>
</div>

<script>
   $(document).on("click", "#itemId", function () {
     var eventId = $(this).data('id');
     $(".modal-body #eventId").val( eventId );
     console.log(eventId);
});
</script>

  
  